#header{
    width:7.5rem;
    height: 0.97rem;
    background-color: #fff;
    border-bottom: 1px solid #e5e5e5;
    position:fixed;
    top:0;
    z-index: 999;
}
#footer{
    width:7.5rem;
    height:.98rem;
    background:#fff;
    border-top:1px solid #e5e5e5;
    position:fixed;
    bottom:0;
    z-index: 999;
}
.sort_content_wrap{
    padding-top:.97rem;
    padding-bottom:1rem;
}
.sort_content_left{
    width: 1.8rem;
    overflow: hidden;
    background-color: #F6F6F6;
}
.sort_content_left ul{
    width:100%;
    position:relative;
    top:0;
    transition:top 0.5s linear 0s;
}
.sort_content_left ul li{
    height: 0.9rem;
    line-height: 0.9rem;
    text-align: center;
    font-size: 0.28rem;
}
.sort_content_left ul li.active{
    background-color:#fff;
    color: #FF5777;
}
.sort_content_left ul li p{
    border-left:4px solid #F6F6F6 ;
}
.sort_content_left ul li.active p{
    position: relative;
    width: 100%;
    height: 0.29rem;
    top:0.3rem;
    font-weight:bold;
    line-height: 0.3rem;
    border-left:4px solid  #FF5777 ;
}
.sort_content_right{
    width:5.7rem;
    height:auto;
    position:relative;
    overflow: hidden;
}
.sort_content_right .contents{
    position:absolute;
    top:0;
    height:auto;
}
.sort_content_right .sort_right{
    width:5.7rem;
    height:auto;
    background:#fff;
    position:absolute;
    top:0;
    margin-bottom:1rem;
    display:none;
}
.sort_content_right .sort_right.show{
    display:block;
}
.sort_content_right .sort_right ol li{
    padding-top:.56rem;
    width:1.9rem;
    float:left;
    text-align: center;
}
.sort_content_right .sort_right ol li img{
    width:1.3rem;
    height:1.3rem;
}
.sort_content_right .sort_right ol li p{
    font-size: 0.24rem;
    color: #666666;
    margin-top: 0.2rem;
}